<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A single Album</title>
</head>
<body>
  <h1>A single Album</h1>
  <%= album.id %>
  <p><%= album.album_name %> <%= album.artist_name%></p>
  <p>Released: <%= album.release_date %></p>
  <p>Genre: <%= album.genre %></p>
  <hr />
  <h3>Update color of car:</h3>
  <form method="POST" action="/albums/<%= album.id %>">
    <label for="color">Color</label>
    <input type="text" name="color" id="color"/>
    <br>
    <button type="submit">Update</button>

  </form>
  <hr />
  <a href="/albums">go back to all cars</a>
  
</body>
</html>